@font-face {
  font-family: "B612Mono";
  font-style: normal;
  src: url("../fonts/B612_Mono/B612Mono-Regular.ttf");
}
@font-face {
  font-family: "B612Mono";
  font-style: italic;
  src: url("../fonts/B612_Mono/B612Mono-Italic.ttf");
}

@font-face {
  font-family: "Crimson";
  font-style: normal;
  src: url("../fonts/Crimson/Crimson-Roman.ttf");
}

@font-face {
  font-family: "Crimson";
  font-style: italic;
  src: url("../fonts/Crimson/Crimson-Italic.ttf");
}

@font-face {
  font-family: "Proza Libre";
  font-style: normal;
  src: url("../fonts/Proza_Libre/ProzaLibre-Regular.ttf");
}

@font-face {
  font-family: "Proza Libre";
  font-style: italic;
  src: url("../fonts/Proza_Libre/ProzaLibre-Italic.ttf");
}

@font-face {
  font-family: "Proza Libre";
  font-style: normal;
  font-weight: 1000;
  src: url("../fonts/Proza_Libre/ProzaLibre-ExtraBold.ttf");
}

@font-face {
  font-family: "Cormorant Garamond";
  font-style: normal;
  src: url("../fonts/Cormorant_Garamond/CormorantGaramond-Medium.ttf");
}

@font-face {
  font-family: "Proza Libre";
  font-style: italic;
  src: url("../fonts/Proza_Libre/ProzaLibre-Italic.ttf");
}