---
---
@import "fonts";

$font-stack-proza: Proza Libre, sans-serif;
$font-stack-cormorant: Cormorant Garamond, serif;

$raven-color: #373D3F;
$chan-background-color: #ffffe9;
$chan-post-background-color: #ebd8cd;

$max-width: 580px;

@media only screen and (min-width: 1000px) { // larger screens
  body {
    margin-left: 10%;
    margin-right: 10%;
  }
  .nav-title {
    font-size: 5vw;
  }
  .nav-tagline {
    font-size: 1.4vw;
  }
  a.navigation-item { 
    font-size: 2vw;
  }
  .current-navigation-item { 
    font-size: 2vw;
  }
  img.homepage-hero-image {
    width: 40vw;
  }
  .story-list-preview {
    font-size: 1.2rem;
  }
  h1.story-header {
    font-size: 6vw;
  }
  .story-body {
    padding-left: 22%;
    padding-right: 22%;
    p {
      font-size: 1.3rem;
      line-height: 2.2rem;
    }
  }
  h1 {
    font-size: 4vw;
  }
  h2 {
    font-size: 3vw;
  }
  p, li {
   font-size: 1.4rem;
  }
  li {
    max-width: $max-width; // if applied to p then story-body text gets too little max-width... 
  }
}
@media only screen and (max-width: 999px) { //smaller screens
  body {
    margin-left: 5%;
    margin-right: 5%;
  }
  .nav-title {
    font-size: 6rem;
  }
  .nav-tagline {
    font-size: 4vw;
  }
  a.navigation-item { 
    font-size: 6vw;
  }
  a.current-navigation-item { 
    font-size: 6vw;
  }
  img.homepage-hero-image {
    width: 70vw;
  }
  .story-list-preview {
    font-size: 5vw;
  }
  h1.story-header {
    font-size: 10vw;
  }
  .story-body {
    padding-left: 0%;
    padding-right: 0%;
    p {
      font-size: 5vw;
    }
  }
  h1 {
    font-size: 7vw;
  }
  h2 {
    font-size: 6vw;
  }

  p, li {
   font-size: 5vw;
  }
}

body {
  color: $raven-color;
}

p, li {
  font-family: $font-stack-cormorant;
}

li {
  padding-top: 2%;
  color: $raven-color;
}

h1, h2, h3, h4 {
  max-width: $max-width;
  margin-top: 4%;
  margin-bottom: -1%;
}

h1 {
  font-family: $font-stack-cormorant;
  color: black;
}

div.footnotes {
  p, li, a {
    font-size: 0.9rem; // why can't i change the size of the arrow? 
  }
}

img.story-header-image {
  width: 60%;
  margin: auto;
  display: block;
  padding-bottom: 8%
}

a:hover {
  background-color: $chan-post-background-color;
}

// Navigation
.nav-title {
  font-family: $font-stack-proza;
  font-weight: bold;
  text-decoration: none; 
}
.nav-title:visited {
  color: $raven-color;
}

.nav-title:hover {
  color: black;
}

nav {
  a {
    margin-top: 0;
    font-family: $font-stack-proza;
    font-weight: bold;
    margin-right: 2rem;
  }

  p {
    margin-top: 0;
    font-family: $font-stack-proza;
    color: grey;
    font-weight: medium;
  }
}

a.navigation-item { 
  text-decoration: none;
}

// Storyroll
.story-list-header {
  font-family: $font-stack-proza;
  font-weight: bold;
  letter-spacing: 0.15rem;
  max-width: $max-width;
}
.story-list-header:hover {
  background-color: $chan-post-background-color;
}

.story-list-preview {
  font-family: $font-stack-cormorant;
  padding-bottom: 2%;
}

.story-list-preview img {
  width: 40%;
  height: auto;
}


// Stories
h1.story-header {
  max-width: 100%;
  color: black;
  text-align: center;
  font-family: $font-stack-cormorant;
  font-style: bold;
  margin: 0 auto;
  padding-top: 10%;
  padding-bottom: 4%;
}

.story-body {
  $text-indent: 30px;

  padding-top: 0.5%;
  padding-bottom: 5%;

  p {
    color: $raven-color;
    text-indent: $text-indent;
    text-align: justify;
    padding-bottom: 0.65rem;

    margin: 0 auto;
    font-family: $font-stack-proza;
    background-color: white;
  }

  hr {
    height: 1rem;
    width: 180px;
    margin-top: 4rem;
    margin-bottom: 4rem;
    border-width: 0px;
    background-color: lightgray;
    border-radius: 5px;
  }

  .highlight pre {
    white-space: pre-wrap;
    line-height: 1.6rem;
    border: 1px solid;
    border-radius: 10px;
    padding: 1rem;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .language-plaintext {
    margin: 0 auto;
  }
  code {
    font-family: "B612Mono";
  }
}

.story-chat {
  @extend .story-body;
  padding-left: 0px;
  padding-right: 0px;

  p {
    text-indent: 0px;
    line-height: 2.1rem;
    margin-bottom: 1rem;
  }
}
