<!doctype html>
<html>
  <head>
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:url" content="{{ page.url | absolute_url }}" />
    <meta property="og:description" content="{{ page.preview }}" />
    <meta property="og:image" content="https://narravaganza.lol/assets/images/avellaneous_satellite.jpg" />
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="shortcut icon" type="image/png" href="/favicon.png">
  </head>
  <body>
    {% include navigation.html %}
    {{ content }}
  </body>
</html>
